.authForm__navLink {
  grid-area: 3 / 1 / 4 / 2;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 17px;
  color: #fff;
  text-align: center;
  text-decoration: none;
  opacity: 1;
  transition: opacity 0.3s ease-in-out;
  align-self: end;
  justify-self: center;
  margin: 0 0 -29px 0;
}

.authForm__navLink:hover {
  opacity: 0.8;
}
